<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student's Online Store{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'buy_portal/style.css' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <a class="navbar-brand" href="{% url 'buy_portal:index' %}">
    Home
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'buy_portal:sell' %}">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'buy_portal:advertise' %}">Post Advertise</a>
      </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'buy_portal:requirement' %}">Requirements</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     <ul class="navbar-nav mr-5">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu animated flip mr-2" aria-labelledby="navbarDropdownMenuLink">
     <div class="dropdown-item mx-auto">
         <form>
             <input type="button" value="My Activity" class="btn btn-outline-secondary"
              onclick="window.location.href='{% url 'buy_portal:my_activity' %}'" />
         </form>

     </div>
            <div class="dropdown-item mx-auto">
         <form>
             <input type="button" value="Logout" class="btn btn-outline-secondary"
              onclick="window.location.href='{% url 'buy_portal:logout_user' %}'" />
         </form>

     </div>
 </div>
      </li>

    </ul>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
